<footer class="main-footer">
  <span class="pull-right">
      <a class="bg-strava btn label" href="mailto:<%= Settings.app.emailer.default_sender_email %>" target="_blank">Contact Us</a>
      <% if Settings.app.version.blank? %>
          <small>v1.7.3</small>
      <% else %>
          <small><%= Settings.app.version %></small>
      <% end %>
  </span>
</footer>
