<footer class="main-footer">
  <span class="hidden-sm-down">
    <small>
      Created by <a class="external" href="<%= Settings.strava.url %>/athletes/<%= Settings.app.demo_athlete %>" target="_blank">Yi Zeng</a> and GitHub'ed at
      <a class="external" href="https://github.com/yizeng/strafforts" target="_blank">yizeng/strafforts</a>.
    </small>
  </span>

  <span class="pull-right">
      <a class="bg-strava btn label" href="mailto:<%= Settings.app.emailer.default_sender_email %>" target="_blank">Contact Us</a>
      <% unless Settings.app.version.blank? %>
          <small><%= Settings.app.version %></small>
      <% else %>
          <small>v1.6.2</small>
      <% end %>
  </span>
</footer>
