.main-header {
  li.user-header {
    background-color: #555555 !important;
  }

  .logo,
  .navbar .sidebar-toggle {
    @include transition(all .2s ease-in-out);
  }

  .navbar-nav {
    .fb-like {
      display: inline-block;

      padding: 15px;
    }

    /* Blue follower and following links. */
    .user-menu > .dropdown-menu > .user-body a {
      color: #007FB6 !important;
    }

    .notifications-menu > .dropdown-menu,
    .messages-menu > .dropdown-menu,
    .tasks-menu > .dropdown-menu {
      width: 380px;
    }

    /* Style User Menu Dropdown */
    .user-menu .dropdown-menu li.user-header {
      img {
        width: 90px;
        height: 90px;
      }

      a:hover,
      a:focus {
        background-color: inherit;
      }
    }

    .btn-connect-with-strava {
      padding: 8px;

      img {
        width: 140px;
      }
    }
  }
}
