$color-strava: #FC4C02;
$color-strava-hover: #E34402;
$color-light-green: #00BD65;
$color-green: #00A65A;
$color-red: #F56954;
$color-yellow: #F39C12;
$color-grey: rgba(128, 128, 128, 1);
$color-light-grey: rgba(128, 128, 128, .5);

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
        -ms-transition: $args;
         -o-transition: $args;
            transition: $args;
}
